{% extends 'layout.html' %}

{% block head %}

    <title>Facemash</title>
    <link rel="stylesheet" href="{{ url_for('static.serve_static', filename='css/style.css') }}">

{% endblock %}

{% block body %}

    <a href="/" class="header">FACEMASH</a>
    <div class="fathercont">
        <h1 class="judged">Were we let in for our looks? No. will we be judged on them? yes</h1>
    <h1 class="hotter">Who's Hotter? Click to Choose</h1>
    <div class="imgcont">
        <img src="" class="img1">
        <h1>or</h1>
        <img src="" class="img2" >
    </div>
    </div>
    <script src="{{ url_for('static.serve_static', filename='js/script.js') }}"></script>

{% endblock %}